_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
assets/libs/
node_modules/
vendor
dating-monitor/data/
dating-monitor/src/fieldwork_monitor.html
dating-monitor/src/*_files/